on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
env:
  SCARB_VERSION: 0.5.2

name: Contracts
jobs:
  check:
    runs-on: ubuntu-latest
    env:
      working-directory: contracts
    steps:
      - uses: actions/checkout@v3
      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: ${{ env.SCARB_VERSION }}
      - name: Install starknet foundry
        run: curl -L https://raw.githubusercontent.com/foundry-rs/starknet-foundry/master/scripts/install.sh | sh
      - name: Check cairo format
        working-directory: ${{env.working-directory}}
        run: scarb fmt --check
      - name: Run cairo tests
        working-directory: ${{env.working-directory}}
        run: snforge
